<div class="carrouselPhoto">
	<img src="../../assets/carrousel1.jpg" alt="première photo du carrousel" class="img1">
	<img src="../../assets/carrousel2.jpg" alt="deuxième photo du carrousel" class="img2">
</div>

<div class="carrouselTextes">
	<p class="titre">Les 3 règles de la frugalité numérique</p>
	<p class="texte">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
	<button class="carrouselButton">Voir plus</button>
</div>

<img src="../../assets/Group 179.png" class="carrouselLogo">